bin/*.sh
!bin/test
!bin/env
!bin/go
*.iml
*.swp
*.pyc
*.test
*.coverprofile
.DS_Store
tags
.idea/
test_util/rss/rss
/_docker_workspace
/_build
/pkg
/tmp
cf-bigip-ctlr

# Docs
docs/_build*
docs/errors.txt
f5-ci-docs
/docs/includes/f5-csi_k/wg-output.txt
docs/_static/ATTRIBUTIONS.md
